BOT_TOKEN=""

MODEL_TOKEN=""
EMBEDDING_MODEL="text-embedding-3-small"
CHAT_MODEL="gpt-5-mini"
PROXYAPI_BASE_URL="https://api.proxyapi.ru/openai/v1"

MINIO_ROOT_USER=""
MINIO_ROOT_PASSWORD=""
MINIO_HOST="localhost"
MINIO_PORT=9000

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_USER="default"
REDIS_PASSWORD=""
REDIS_DB=0

MONGO_ROOT_USER=""
MONGO_ROOT_PASSWORD=""